# Shortcuts
alias c="clear"
alias code="code -n"
alias change="code ~/.zshrc"
alias update="source ~/.zshrc"
alias grep="rg"
alias cat="bat"
alias diff="delta"
alias weather="curl https://wttr.in/"

# Directories
alias dotfiles="cd $DOTFILES"
alias dev="cd $HOME/code"
alias work="cd $HOME/code/work"

# lsd
alias ls="lsd"
alias l="ls"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lt="ls --tree"

# nvim
alias vim="nvim"
alias vi="nvim"
alias oldvim="\vim"

# tmux
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"
