# Make VS Code the default editor
export EDITOR="code"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=100000
export SAVEHIST=1000000

# Prefer US English and use UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Misc.
export HOMEBREW_NO_AUTO_UPDATE=1
export DISABLE_UPDATE_PROMPT=true
export TERM=xterm-256color
export GPG_TTY=$(tty)
