[core]
  editor = code --wait
  autocrlf = input
  pager = delta --line-numbers --dark
  excludesfile = ~/.gitignore_global
[init]
  defaultBranch = main
[color]
  branch = auto
  diff = auto
  interactive = auto
  pager = true
  status = auto
  ui = true
[delta]
  side-by-side = true
[pager]
  diff = delta
	log = delta
	reflog = delta
	show = delta
[color "status"]
  added = green
  changed = yellow
  untracked = red
[push]
  default = current
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[url "git@github.com:"]
    insteadOf = github:
    insteadOf = gh:
[pull]
	ff = only
[user]
  useConfigOnly = true
[include]
  path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
