# Laravel
alias a="php artisan"
alias fresh="php artisan migrate:fresh --seed"
alias seed="php artisan db:seed"
alias sail="[ -f sail ] && sh sail || sh vendor/bin/sail"
alias sa="sail artisan"
alias sail-test="sail artisan test"

# PHP
alias cfresh="rm -rf vendor/ composer.lock && composer i"
alias composer="php -d memory_limit=-1 /opt/homebrew/bin/composer"
alias cda="composer dump-autoload -o"
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# JavaScript
alias nfresh="rm -rf node_modules/ package-lock.json && npm install"
alias jest="./node_modules/.bin/jest"

# Shortcuts
alias c="clear"
alias o="open ."
alias code="code -n"
alias change="code ~/.config/zsh/.zshrc"
alias update="source ~/.config/zsh/.zshrc"
alias grep="rg"
alias cat="bat"
alias diff="delta"
alias weather="curl https://wttr.in/"
alias ip="curl ifconfig.me ; echo"
alias copykey="command cat ~/.ssh/id_rsa.pub | pbcopy"
alias search="fzf --preview 'bat --color=always --style=numbers --line-range=:500 {}' | xargs code"

# Directories
alias dotfiles="cd ~/.dotfiles"
alias dev="cd $HOME/dev"

# sed
alias sed="gsed"

# lsd
alias ls="lsd"
alias l="ls"
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lt="ls --tree"

# nvim
alias vim="nvim"
alias vi="nvim"
alias oldvim="\vim"

# tmux
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"

# Enable aliases to be sudo’ed
alias sudo='sudo '
