#!/usr/bin/env bash

# Create a directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

function camerausedby() {
	echo "Checking to see who is using the iSight camera… 📷"
	usedby=$(lsof | grep -w "AppleCamera\|USBVDC\|iSight" | awk '{printf $2"\n"}' | xargs ps)
	echo -e "Recent camera uses:\n$usedby"
}
